[run]
command_line = manage.py test
source = .
data_file = ../.coverage

omit =
    manage.py

    app/migrations/*
    app/tests/*
    app/asgi.py
    app/wsgi.py
    app/settings/*

    ws/consumers.py
    ws/tests.py

[html]
directory = ../.coverage_html
