{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Wild Race</title>

    {% if not debug %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ google_analytics_id }}');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
    {% endif %}

    <link rel="icon" href="{% static 'app/favicon.ico' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

    {% for css_file in css_files %}
        <link href="{{ css_file }}" rel="stylesheet">
    {% endfor %}

    <script id="frontend-data">
        document.frontendData = {{ frontend_data|safe }}
    </script>
</head>
<body>

<noscript>
    <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

{% csrf_token %}

<div id="app"></div>

{% for js_file in js_files %}
    <script src="{{ js_file }}"></script>
{%  endfor %}

</body>
</html>